$icon-size: 35px;
$icon-font-size: 15px;
html {
   scroll-behavior: smooth;
}
body {
   h1::after {
      content: "";
      display: block;
      height: 3px;
      background: #ffcd38;
      width: 75px;
      margin: auto;
      margin-top: 10px;
      border-radius: 2px;
   }
   h3::after {
      content: "";
      display: block;
      height: 3px;
      background: #ffcd38;
      width: 75px;
      margin-top: 10px;
      margin-bottom: 15px;
      border-radius: 2px;
   }
   .btn {
      border-radius: 25px;
      background: white;
      color: black;
   }
   .btn:hover {

      background: #ffcd38;
      color: black;
   }
}

#navSection {
   box-shadow: 3px 3px 3px #ffcd38;
   opacity: .9;
   background: black;

   #navbarNav {
      .nav-link {
         color: white;
      }
      .nav-link:hover {
         color: #ffcd38;
      }
      .nav-link.btn {
         width: 90px;
         color: black;
         border-bottom: none;
      }
      .nav-item.btn:hover {
         color: #ffcd38;
         border-bottom: none;
      }
   }
}

/* -- HOME PAGE -- */
#homeSection {
   .carousel-item {
      height: 500px;
   }
   .carousel-img-1 {
      background-image: url(../img/man-holding-teacup-infront-of-laptop.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
   .carousel-img-2 {
      background-image: url(../img/pexels-photo-374720.jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
   .carousel-img-3 {
      background-image: url(../img/background-beverage-breakfast-brown.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
   .btn {
      width: 150px;
      background: #ffcd38;
      border: 2px solid #ffcd38;
   }
   .btn:hover {
      background: white;
   }
}

#aboutSection {
   img {
      border-radius: 25%;
      box-shadow: -2px -2px 0px 2px #ffcd38;
   }
   .btn {
      width: 170px;
      border: 2px solid #ffcd38;
   }
   .btn:nth-child(2) {
      background: #ffcd38;
   }
   .btn:nth-child(2):hover {
      background: white;
   }
}

#servicesSection {
   .card {
      transition: all .5s;
   }
   .service-icon {
      font-size: $icon-size;
      color: #ffcd38;
      transition: all .5s;
   }

   .card:hover {
      background: #ffcd38;

      .service-icon {
         color: white;
         margin-top: -7px;
      }
   }
}

#skillSection {
   .radial-progress {
      circle {
         stroke-width: 6;
      }
      text {
         fill: black;
      }
   }
   .html5 circle {
      fill: #ff5722;
      stroke: #fbfbfb;
   }
   .css3 circle {
      fill: #c622ff;
      stroke: #fbfbfb;
   }
   .psd circle {
      fill: #795548;
      stroke: #fbfbfb;
   }
   .bootstrap4 circle {
      fill: #ffeb3b;
      stroke: #fbfbfb;
   }
   .jquery circle {
      fill: #22ff57;
      stroke: #fbfbfb;
   }
   .wordpress circle {
      fill: #225cff;
      stroke: #fbfbfb;
   }
}

#experienceSection {
   margin: 0;
   padding: 0;
   overflow: hidden;
   display: block;
   i {
      font-size: 40px;
   }
}

#teamSection {
   h3::after {
      content: "";
      display: none;
      height: 3px;
      background: #ffcd38;
      width: 75px;
      margin-top: 10px;
      margin-bottom: 15px;
      border-radius: 2px;
   }
   img {
      margin-top: -100px;
   }
   .card {
      background: white;
      transition: all .7s;
      .fab {
         font-size: 30px;
      }
   }
   .card:hover {
      background: #ffcd38;
      .fab {
         color: white;
      }
   }
}

#homeinfo {
   .btn {
      border: 2px solid #ffcd38;
   }
   .btn:hover {
      background: #ffcd38;
   }
}

#icon-boxes {
   h3::after {
      content: "";
      display: none;
      height: 3px;
      background: #ffcd38;
      width: 75px;
      margin-top: 10px;
      margin-bottom: 15px;
      border-radius: 2px;
   }
   .far,
   .fas,
   .fab {
      font-size: 50px;
   }
}

#testimonialSection {
   .slick-prev:before,
   .slick-next:before {
      color: black;
   }
   img {
      border-radius: 25px;
      box-shadow: -2px -2px 0px 2px #ffcd38;
   }
}

/* ----- CONTACT PAGE ----- */
#contactHeader {
   margin: 0;
   padding: 0;
   overflow: hidden;
   display: block;
}
#contactSection {
   margin: 0;
   padding: 0;
   overflow: hidden;
   display: block;
   .contactForm {
      background: #ffcd38;
      .form-control {
         border-radius: 20px;
      }
      i {
         font-size: 50px;
      }
      .btn {
         background: black;
         font-weight: 400;
         width: 150px;
         border: 2px solid black;
         color: white;
      }
      .btn:hover {
         background: #ffcd38;
         border: 2px solid black;
         color: black;
      }
   }
}

/* -- ABOUT US PAGE -- */
#about-page-header {
   .dark-overlay {
      background-image: url(../img/photo-of-people-using-laptop-s-3182759.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
   }
}

/* -- SERVICES PAGE -- */
#services-page-header {
   .dark-overlay {
      background-image: url(../img/background-beverage-breakfast-brown-414645.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
   }
}

#pricingSection{
   .basic {
      box-shadow: 1px -5px 15px -5px #333;
      .btn {
         background: black;
         color: white;
         border: 2px solid black;
      }
      .btn:hover {
         background: white;
         color: black;
      }
   }
   .proPlan {
      color: black;
      box-shadow: 1px -5px 15px -5px #333;
      z-index: 1;
      background:linear-gradient(90deg, #ff9966 0%,#ff5e62 100% );
      h1::after {
         content: "";
         display: block;
         height: 3px;
         background: white;
         width: 75px;
         margin: auto;
         margin-top: 10px;
         border-radius: 2px;
      }
      .btn {
         background: white;
         color: black;
         border: 2px solid white;
      }
      .btn:hover {
         background: transparent;
         color: white;
         border: 2px solid white;
      }
   }
   .premium {
      box-shadow: 1px -5px 15px -5px #333;
      .btn {
         background: black;
         color: white;
         border: 2px solid black;
      }
      .btn:hover {
         background: white;
         color: black;
      }
   }
}

/* -- BLOGS PAGE -- */
#blog-page-header {
   .dark-overlay {
      background-image: url(../img/white-ceramic-mug-on-newspaper-2766006.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
   }
}

#blogSection {
   .btn {
      border-radius: 4px;
      background: #ffcd38;
      color: black;
      font-weight: 500;
      border: 2px solid #ffcd38;
   }
   .btn:hover {

      background: white;
      color: black;
   }
}

/* -- REUSABLE COMPONENTS -- */
.goTop {
   position: fixed;
   right: 0px;
   bottom: 49px;
   color: white;
   font-size: 30px;
   i {
      background: #ffcd38;
      border-radius: 2px;
      padding: 0px 5px 0px 5px;
   }
}
.goTop:hover {
   color: white;
}

#contactModal {
   h3::after {
      content: "";
      display: none;
      height: 3px;
      background: #ffcd38;
      width: 75px;
      margin-top: 10px;
      margin-bottom: 15px;
      border-radius: 2px;
   }
   .modal-body {
      background: #ffcd38;
      border: none;
      .form-control {
         border-radius: 20px;
      }
      i {
         font-size: 50px;
      }
      .btn {
         background: black;
         font-weight: 400;
         width: 150px;
         border: 2px solid black;
         color: white;
      }
      .btn:hover {
         background: #ffcd38;
         border: 2px solid black;
         color: black;
      }
   }
}

#footerSection {
   .footer-info {
      border: 0px solid white;
   }
   .follow,
   .footer-icons {
      border: 0px solid white;
      .icons {
         .fab {
            font-size: $icon-font-size;
            color: white;
            background: gray;
            border-radius: 50%;
            padding: 5px;
            width: 25px;
            transition: all .7s;
         }
         .fab:hover {
            background: white;
            color: gray;
            transform: rotate(360deg);
         }
      }
   }
   .footer-links {
      border: 0px solid white;
      list-style: none;
      a {
         text-decoration: none;
         color: white;
      }
   }
   .footer-newsletter {
      input {
         border: 2px solid #ffcd38;
         border-radius: 3px;
         height: 37px;
      }
      .btn {
         border-radius: 3px;
         width: 42px;
         height: 37px;
         background: #ffcd38;
         color: black;
         border: 2px solid #ffcd38;
      }
      .btn:hover {
         background: white;
         color: black;
      }
   }
}

@media(max-width: 576px){
   #teamSection {
      .card-body {
         img {
            margin-top: 0px;
         }
      }
   }
}
@media(max-width: 767px){
   #teamSection {
      .card-body {
         img {
            margin-top: 0px;
         }
      }
   }
}
@media(max-width: 991px){
   #teamSection {
      .card-body {
         img {
            margin-top: 0px;
         }
      }
   }
}
